apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "minio.fullname" . }}
  labels:
    app: {{ include "minio.name" . }}
    chart: {{ include "minio.chart" . }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "minio.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "minio.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: minio
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - server
            - /data
            - --console-address
            - ":9001"
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: accesskey
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: secretkey
            - name: MINIO_SERVER_URL
              value: {{ .Values.minio.serverUrl | quote }}
            - name: MINIO_BROWSER_REDIRECT_URL
              value: {{ .Values.minio.browserRedirectUrl | quote }}
          ports:
            - containerPort: 9000
              name: api
            - containerPort: 9001
              name: console
          volumeMounts:
            - name: minio-storage
              mountPath: /data
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: minio-storage
          persistentVolumeClaim:
            claimName: {{ include "minio.fullname" . }}-pvc
