apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
data:
  accesskey: {{ .Values.minio.rootUser | b64enc | quote }}
  secretkey: {{ .Values.minio.rootPassword | b64enc | quote }}
